body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #1ec8ff,
    #1a73e8,
    #0b3c91
  );
}

.auth-card {
  background: white;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.main-logo {
  width: 100px;
  height: auto;
}

h2 {
  color: #03045E;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h2 span {
  color: #0077B6;
}

p.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  opacity: 1;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group input, 
.input-group select {
  width: 100%;
  padding: 14px;
  border: 1.5px solid #eee;
  border-radius: 12px;
  background: #fdfdfd;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #1a73e8;
}

.btn-auth {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #00e0ff, #00bfff);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-auth:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 224, 255, 0.3);
}

/* FOOTER & SOCIAL */
.auth-footer {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

.auth-footer a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.social-btns {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-btns button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 13px;
}